In [5]:
# csv数据的导入
import numpy as np
import pandas as pd
df=pd.read_csv('employees.csv',encoding='utf-8')
df.head(3)
# 数据导出
df=df.head(5)
df.to_csv('new.csv')

In [7]:
#json格式数据
df=pd.read_json('employees.json')

import json
with open('employees.json',encoding='utf-8') as f:
    data=json.load(f)#用json库载入文件类似于pd.read_json
#类型是字典,可以转成DataFrame
df=pd.DataFrame(data)

,employee_id,personal_info,work_info,skills
0,EMP001,"{'name': '杨芳', 'age': 24, 'email': '杨芳1@compan...","{'department': '人事部', 'position': '工程师', 'sala...","[团队合作, 沟通能力, Java]"
1,EMP002,"{'name': '张磊', 'age': 41, 'email': '张磊2@compan...","{'department': '客服部', 'position': '助理', 'salar...","[团队合作, 数据分析, Python]"
2,EMP003,"{'name': '李华', 'age': 24, 'email': '李华3@compan...","{'department': '人事部', 'position': '分析师', 'sala...","[项目管理, 沟通能力, 数据分析]"
3,EMP004,"{'name': '王杰', 'age': 43, 'email': '王杰4@compan...","{'department': '财务部', 'position': '工程师', 'sala...","[团队合作, 沟通能力, 项目管理]"
4,EMP005,"{'name': '吴明', 'age': 27, 'email': '吴明5@compan...","{'department': '客服部', 'position': '专员', 'salar...","[团队合作, Python, 项目管理]"
5,EMP006,"{'name': '吴强', 'age': 23, 'email': '吴强6@compan...","{'department': '运营部', 'position': '助理', 'salar...","[沟通能力, JavaScript, Python]"
6,EMP007,"{'name': '李磊', 'age': 26, 'email': '李磊7@compan...","{'department': '市场部', 'position': '经理', 'salar...","[团队合作, 项目管理, 数据分析]"
7,EMP008,"{'name': '陈杰', 'age': 43, 'email': '陈杰8@compan...","{'department': '研发部', 'position': '分析师', 'sala...","[Python, Java, 数据分析]"
8,EMP009,"{'name': '张磊', 'age': 29, 'email': '张磊9@compan...","{'department': '销售部', 'position': '分析师', 'sala...","[项目管理, 团队合作, 沟通能力]"
9,EMP010,"{'name': '李静', 'age': 40, 'email': '李静10@compa...","{'department': '技术部', 'position': '经理', 'salar...","[项目管理, Java, 沟通能力]"

In [31]:
'''
    缺失值的处理 nan：not a number
'''
s=pd.Series([1,2,np.nan,pd.NA,None]) #三种缺失值
df=pd.DataFrame([[1,2,np.nan],[3,pd.NA,None],[4,5,6]],
                columns=['第一列','第二列','第三列'])
# print(s.isna())
# print(s.isnull())
# print(df.isna())
# print(df.isnull())
print('--------------------')
print(df.isna().sum(axis=1)) #第一行一个，第二行两个，第三行没有不显示
print('------------------')
print(s.isna().sum()) #查看缺失值的个数
print('------------------')
print(df.dropna()) #df中剔除行，不是单个的记录一整条
print(df.dropna(how='all')) #如果所有的值是缺失值才会全部删除一整行
print(df.dropna(thresh=2))  #如果至少有n个值不是缺失值就保留
print(df.dropna(subset=['第一列']))  #检测某列的缺失值

--------------------
0    1
1    2
2    0
dtype: int64
------------------
3
------------------
   第一列 第二列  第三列
2    4   5  6.0
   第一列   第二列  第三列
0    1     2  NaN
1    3  <NA>  NaN
2    4     5  6.0
   第一列 第二列  第三列
0    1   2  NaN
2    4   5  6.0

In [ ]:
#填充缺失值
print(df.fillna({'temp_max':20}))  #使用字典填充temp_max是填充的列名，20是具体数字，填充所有的缺失值
print(df.fillna(df[['temp_max','wind']].mean()))  #使用统计值填充
print(df.ffill())   #用前面相邻的填充
print(df.bfill()) #用后面的相邻填充

In [5]:
#数据的去重
import numpy as np
import pandas as pd
data={
    'name':['alice','alice','bob','alice','jack','bob'],
    'age':[26,25,30,25,35,30],
    'city':['NY','NY','LA','NY','SF','LA'],
    'gender':['male','female','male','female','male','female']
}
df=pd.DataFrame(data)
df.duplicated() #一整条记录都是一样的，标记为重复
df.drop_duplicates(subset=['name']) #根据指定列去重
df.drop_duplicates(subset=['name'], keep='last')  #留下最后出现的重复数据n

    name  age city  gender
3  alice   25   NY  female
4   jack   35   SF    male
5    bob   30   LA  female

In [6]:
# 数据类型的转换

df['age']=df['age'].astype('int16')  #astype类型转换
df['gender']=df['gender'].astype('category')
df['is male']= df['gender'].map({'male':True,'female':False})
df.dtypes

name        object
age          int16
city        object
gender    category
dtype: object